body {
    background-color: rgb(83, 57, 0);
    color: white;
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
}

.backround{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

#Hall{
    width: 75%;
    padding-left: 120px;
    z-index: -3;
}

.Hall{
    background-image: linear-gradient(90deg, rgb(8, 8, 8) 50%, rgb(126, 118, 100) 100%);
}

.Header{
    font-size: 30px;
    padding-bottom: 10px;
}

.Options{
    font-size: 20px;
}

.edvin{
    width: 3%;
    position: absolute;
    left: 85%;
    top: 69%;
}

.backroundE{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 66%;
}

.backroundP{
    position: absolute;
    top: -200px;
    left: 0;
    z-index: -1;
    width: 100%;
}

.EText{
    color: black;
    position: relative;
    left: 3%;
    font-size: 32px;
}

#E1{
    position: absolute;
    top: 10%;
}

#E2{
    position: absolute;
    top: 25%;
}

#E3{
    position: absolute;
    top: 40%;
}

#E4{
    position: absolute;
    top: 65%;
}

#E5{
    position: absolute;
    top: 85%;
    transform: rotate(180deg);
    font-size: 25px;
    left: 35%;
}

.Pipes{
    width: 2%;
    position: absolute;
    left: 30.5%;
    top: 18%;
}

.Hole{
    position: absolute;
    top: 64%;
    left: 46%;
    width: 3.5%;
    opacity: 0.001;
}

.Back{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 3%;
}

.OldWall{
    position: absolute;
    left: -10px;
    top: -10px;
    width: 103%;
}

.skåp{
    position: absolute;
    top: 0;
    left: 28%;
    width: 40%;
}

.BackSkåp{
    background-color: rgb(0, 0, 0);
}

.Dark{
    position: absolute;
    width: 105%;
    height: 150%;
    top: -50px;
    left: -5px;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: -2;
}

.Golv{
    width: 105%;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -3;
}

.Shrine{
    background-color: rgb(136, 136, 120);
}